body {
  min-width: 210px;
  font-family: $mainfont;
  font-weight: 300;
}

.center {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0 10px;
}

#sb-site, .sb-site-container {
  background-color: transparent;
}