.blockCookieNotice {
  background-color: #000;
  bottom: 0;
  color: white;
  font-size: 14px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;

  &__privacy {
    color: white;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }

  &__button {
    background-color: $maincolor;
    border: 1px solid #fff;
    font-size: 12px;
    height: 30px;
    line-height: 16px;
    margin-top: 10px;
    padding: 1px 10px;
    text-transform: lowercase;
  }
}