.blockMenu {
  background-color: $maincolor;
  width: 100%;
  @include sm {
    display: block;
  }

  &__wrapper {
    line-height: 0;
    max-width: 690px;
    text-align: justify;
    margin: auto;
    position: relative;
    @include xs {
      display: none;
    }
  }

  &__list {
    line-height: 16px;
    display: inline;
    width: 100%;
  }

  li {
    display: inline-block;
  }

  li a {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 20px 5px;
    display: inline-block;
    position: relative;
    &:hover {
      text-decoration: none;
    }
  }

  li.current-menu-item a, li a:hover {
	font-weight: bold;
  }


  .stretcher {
    width: 100%;
    vertical-align: top;
    display: inline-block;
  }
}

.blockBurger {
  @include burger($maincolor, 30px);
  display: none !important;
  @include sm {
    display: block !important;
  }
}

#mainmenunav a{
  padding: 20px;
  display: block;
  background-color: $maincolor;
  color: white;
  text-transform: uppercase;
  &:hover{
    color: white;
    text-decoration: underline;
  }
}
