$maincolor:#333;
$mainfont:"Helvetica";

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

// Bootstrap breakpoints
$_xs:"480px";
$_sm:"768px";
$_md:"992px";
$_lg:"1200px";

@mixin xs() {
    @media only screen and (max-width: $_xs) { @content; }
}

@mixin sm() {
  @media only screen and (max-width: $_sm) { @content; }
}

@mixin xs_sm() {
  @media only screen and (min-width: $_xs) and (max-width: $_sm) { @content; }
}

@mixin md() {
  @media only screen and (max-width: $_md) { @content; }
}

@mixin lg() {
  @media only screen and (max-width: $_lg) { @content; }
}

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

@mixin burger($color, $width) {
  display: block;
  height: 20px;
  padding-left: 1.25em;
  position: relative;
  width: $width;
  text-indent: -9999px;

  &:before {
    border-bottom: 4px solid $color;
    border-top: 12px double $color;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}


@mixin img-responsive ($max) {
  width: 100%;
  max-width: $max;
}
